html {
  font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  line-height: 17,07px;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background: #ffffff!important;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 4px;
  background-color: #007C74;
  opacity: 0;
  cursor: default;
  outline: none;
  z-index: 1;
  will-change: transform;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #004F49;
}

::-webkit-scrollbar-thumb:not(:hover) ::-webkit-scrollbar-thumb{
  transition: opacity .1s .5s;
}